body {
    background-color: mistyrose;
}

 h1 {
    float: right;
    margin: 0 0 10px 10px;
}

h2 {
    color: lightseagreen;
    border: 2px solid royalblue;
    border-radius: 20px;
    text-align: center;
}
